.content
  %h4.title
    - if article.is_favorited_by_user?(current_user)
      %span.favorite_icon
        .i.icon-star
    %span.rate
      = article.rate
    = link_to truncate(article.title,:length => 60, :separator =>' '), article
    %span.actions
      - if can? :update, article
        %span.edit
          = link_to '<i class="icon-edit" ></i>'.html_safe, edit_article_path(article)
  .body
    = auto_link(truncate(article.body,:length => 60, :separator =>' '))
  .tags
    - article.tag_list.each do |tag|
      %span.tag
        = link_to tag.capitalize , {action: :tag, :tag_name => tag, :controller => :articles}, :class => "tag tag-list"

.writer
  .align-writer
    = link_to user_path(article.user) do
      .avatar
        = image_tag avatar_url(article.user,24)
      .user_name
        = article.user_nickname
    .posted_at
      = distance_of_time_in_words_to_now(article.created_at)