= form_for(article, :html => {:multipart => true}) do |f|
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body, :rows => body_size
  .field
    - if article.image_file_name
      = image_tag article.image.url(:medium)
      %br/
    = f.label :image, "Attach a New Image"
    = f.file_field :image
  .field
    = f.label :Tags
    = f.text_field :tag_list
  .actions
    = f.submit
