= form_for(article, :html => {:multipart => true}) do |f|
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :title,:placeholder => "Title"
  .field
    = f.text_area :body, :rows => body_size,:placeholder => "Body"
  .field
    - if article.attachment_file_name
      = f.label :attachment, "Change the file <i>#{article.attachment_file_name} </i>".html_safe
    -else
      = f.label :attachment, "Attach a file"
    = f.file_field :attachment
  .field
    = f.autocomplete_field :tag_list, autocomplete_tag_name_articles_path, :"data-delimiter" => ', ',:placeholder => "Tags"
  .actions
    = f.submit
