.posts
  .posts_border
    - articles.each do |article|
      .post
        .notations
          .favorite
            - if article.is_article_user_favorite(current_user)
              .i.icon-star
            - else
              .i.icon-star-empty
        .content
          %h4.title
            = link_to truncate(article.title,:length => 60, :separator =>' '), article
            %span.actions
              %span.edit
                = link_to '<i class="icon-edit" ></i>'.html_safe, edit_article_path(article)
              %span.destroy
                = link_to '<i class="icon-remove"></i>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' }
          .body
            = auto_link(truncate(article.body,:length => 60, :separator =>' '))
          .tags
            - article.tag_list.each do |tag|
              %span.tag
                = link_to tag.capitalize , {action: :tag, :id => tag, :controller => :articles}, :class => "tag tag-list"

        .writer
          .align-writer
            = link_to user_path(article.user) do
              .avatar
                = image_tag avatar_url(article.user,32)
              .user_name
                = article.user_nickname
            .posted_at
              = distance_of_time_in_words_to_now(article.created_at)
    = will_paginate articles
