.articles.show-grid
  .posts
    .posts_border
      - @articles.each do |article|
        .post      
          .content
            %h4.title
              = link_to truncate(article.title,:length => 60, :separator =>' '), article
              %span.actions
                %span.edit
                  = link_to '<i class="icon-edit" ></i>'.html_safe, edit_article_path(article)
                %span.destroy
                  = link_to '<i class="icon-remove"></i>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' }
            .body
              = truncate(article.body,:length => 60, :separator =>' ')
            .tags
              - article.tag_list.each do |tag|
                %span.tag
                  = tag
          .writer
            .align-writer
              .avatar
                = image_tag avatar_url(article.user,32)
              .user_name
                = article.user.nickname        

    = will_paginate @articles
  .right_side
    .action
      = link_to 'New Article', new_article_path
    .cloud
      - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to "#{tag.name} <span class='tag-count'> (#{tag.taggings.count})</span>".html_safe, {action: :tag, :id => tag.name}, :class => css_class + " tag"

    .all_tags
      = link_to "All articles", articles_path