.articles.show-grid
  .left_side
    = render 'list_articles', :articles => @articles
  .right_side
    .new_article
      = render 'form', :article => @article, :body_size => 2
    .cloud
      - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to "#{tag.name} <span class='tag-count'> (#{tag.taggings.count})</span>".html_safe, {action: :tag, :id => tag.name}, :class => css_class + " tag"
    .all_tags
      = link_to "All articles", articles_path
