.articles.row-fluid
  .search_side.span3
    %h4 Search
    = search_form_for @search do |f|
      .field
        = f.text_field :title_cont, :placeholder => "Title contains"
      .action
        = f.submit
    .all_tags
      = link_to "View all articles", articles_path
    .cloud
      - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to "#{tag.name.capitalize} <span class='tag-count'> (#{tag.taggings.count})</span>".html_safe, {action: :tag, :tag_name => tag.name}, :class => css_class + " tag"

  .left_side.span6
    = render 'list_articles', :articles => @articles
  .right_side.span3
    - if can? :create, @article
      .new_article
        %h4 Create an article
        = render 'form', :article => @article, :body_size => 2
