%h2
  = @article.title.capitalize
  - if can? :destroy, @article
    %span.destroy
      = link_to '<i class="icon-remove"></i>'.html_safe, @article,:alt => "like", method: :delete, data: { confirm: 'Are you sure?' }

%p
  %b Body:
  = auto_link(@article.body, :html => { :target => '_blank' })

%p
  %b Posted by:
  = @article.user_nickname

%p
  - if @article.image?
    = image_tag @article.image.url(:medium)
    = @article.image_file_name
%p
  %b Tags:
  - @article.tag_list.each do |tag|
    %span
      = link_to tag , {action: :tag, :id => tag}, :class => "tag tag-list"

.notations
  .favorite
    = render 'articles/favorite_form', :article => @article
  .rate
    = render 'articles/rate_form', :article => @article

- if can? :update, @article or current_user == @article.user
  = link_to 'Edit', edit_article_path(@article)
  |
= link_to 'Back', articles_path
