%p
  %b Title:
  = @article.title
%p
  %b Body:
  = auto_link(@article.body, :html => { :target => '_blank' })
 
%p
  %b Posted by:
  = @article.user.nickname
%p
  %b Tags:
  - @article.tag_list.each do |tag|
    %span.tag
      = tag
        
= link_to 'Edit', edit_article_path(@article)
|
\#{link_to 'Back', articles_path}
