%h1 Listing users

%table
  %tr
    %th Avatar
    %th First name
    %th Last name
    %th Nickname
    %th Email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= image_tag avatar_url(user,48)
      %td= user.first_name
      %td= user.last_name
      %td= user.nickname
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
