%h1 Listing users

= link_to "All Users", :action => "index"
|
= link_to "Users awaiting approval", :action => "index", :approved => "false"

%table
  %tr
    %th Avatar
    %th First name
    %th Last name
    %th Nickname
    %th Email
    %th Role
    %th Approved
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= image_tag avatar_url(user,48)
      %td= user.first_name
      %td= user.last_name
      %td= user.nickname
      %td= user.email
      %td= user.role
      %td= user.approved
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }
      - if user.approved?
        %td= link_to 'Block', block_user_path(user)
      -else
        %td= link_to 'Approve', approve_user_path(user)
%br

//= link_to 'New User', new_user_path
