%p
  = @user.first_name
  = @user.last_name
  %i
    Known as:
  = @user.nickname
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
%br/
%p
%h1 Published articles
= render 'articles/list_articles', :articles => @articles
%h1 Favorites
= render 'articles/list_articles', :articles => @favorites