%p
  = @user.first_name
  = @user.last_name
  %i
    Known as:
  = @user.nickname
%p
  %b Email:
  = @user.email

- if @user == current_user and can? :update, @user
  = link_to 'Edit', edit_user_path(@user)

%br/
%p
%h1 Published articles
= render 'articles/list_articles', :articles => @articles
- if @user == current_user
  %h1 Favorites
  = render 'articles/list_articles', :articles => @favorites