!!!
%html
  %head
    %title MindOverflow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  - if alert || notice
    - text = alert || notice
    %div
      %center
        %h4= text
  .navbar
    .navbar-inner
      %a.brand{:href => "#"} MindOverflow
      %ul.nav
        %li.active
          = link_to 'Articles', articles_path
      %ul.nav.pull-right
        %li.pull-right
          = current_user.nickname
        
  = yield
